body{
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#headsec{
    width: 100%;
    position: relative;
    padding-left: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-right: 0%;
}
.container{
    font-size: 1.5vw;
}
.container h1{
    font-size: 3vw;
}
 .container h5{
    font-size: 2vw;
}
.container h6{
    font-size: 1.5vw;
}
#mainid{
    width: 100%;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
}
#button{
  position: relative;
  margin-left: 46%;
  margin-right: 45%;

     
    
}
.para{
    height: 50%;
    width: 65%;
}
.modalbutton{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconstar{
    display: flex;
    justify-content: space-between;
    
}
#detailed{
    width: 100%;
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 75%;
    height: 60%;
}




.feedback span{
    
    font-size: 15px;
    margin: 13px ;
    font-weight: 400;
}
/* footer css */
footer{
    width: 100%;
    margin-top: 130px;
    background-color: #312626;
    
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}
.fa-facebook-square{
    color: #FFFFFF;
}
.fa-facebook-square:hover{
    color: rgb(50, 88, 124);
}
.fa-instagram{
    color: #FFFFFF;
}
.fa-instagram:hover{
    color: rgb(50, 88, 124);
}

.fa-linkedin{
    color: #FFFFFF;
}
.fa-linkedin:hover{
    color: rgb(50, 88, 124);
}