body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif !important;
}

#headsec {
  width: 100%;
  position: relative;
  padding-left: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-right: 0%;
}
.navbar-brand {
  margin-right: 0rem !important;
}
.btn-custom {
  padding: 10px 26px;
  border-radius: 30px;
  font-weight: 600;
}
.nav-logo {
  width: 50px;
  height: 50px;
}
.price-tag {
  font-size: 1.5rem;
  font-weight: 700;
  color: #667eea;
  display: inline-block;
}
.rating {
  color: #fbbf24;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.container {
  font-size: 1rem;
}
.container h1 {
  font-size: 3vw;
}
.container h5 {
  font-size: 2vw;
}
.container h6 {
  font-size: 1.5vw;
}
#mainid {
  width: 100%;
  position: relative;
  padding-left: 0%;
  padding-right: 0%;
}
#button {
  position: relative;
  margin-left: 46%;
  margin-right: 45%;
}
.para {
  height: 50%;
  width: 65%;
}
.modalbutton {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconstar {
  display: flex;
  justify-content: space-between;
}
#detailed {
  width: 100%;
  position: relative;
  padding-left: 0%;
  padding-right: 0%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 75%;
  height: 60%;
}

.feedback span {
  font-size: 15px;
  margin: 13px;
  font-weight: 400;
}
/* footer css */
footer {
  width: 100%;
  margin-top: 130px;
  background-color: #312626;

  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.fa-facebook-square {
  color: #ffffff;
}
.fa-facebook-square:hover {
  color: rgb(50, 88, 124);
}
.fa-instagram {
  color: #ffffff;
}
.fa-instagram:hover {
  color: rgb(50, 88, 124);
}

.fa-linkedin {
  color: #ffffff;
}
.fa-linkedin:hover {
  color: rgb(50, 88, 124);
}
